<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.$51zhiyuan.development.kidbridge.dao.userCourse">

    <!--用户是否已解锁了某个课程-->
    <select id="exist" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            `t_user_course` AS `userCourse`
        WHERE
            `userCourse`.`del_flag` = FALSE AND `userCourse`.`user_id` = #{user.id} AND `userCourse`.`course_id` = #{course.id}
        ORDER BY
            `userCourse`.`create_time` DESC
    </select>

    <!--新增解锁信息-->
    <insert id="add">
        INSERT INTO `t_user_course`(
            `user_id`,
            `course_id`
        )VALUES(
            #{user.id},
            #{course.id}
        )
    </insert>

</mapper>