<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.$51zhiyuan.development.kidbridge.dao.version">

    <select id="lastVersion" parameterType="Version" resultType="Version">
        SELECT
            `version`.`id`,
            `version`.`device`,
            `version`.`content`,
            `version`.`number`,
            `version`.`del_flag`,
            `version`.`create_time`,
            `version`.`update_time`
        FROM
            `t_version` AS `version`
        WHERE
            `version`.`del_flag` = FALSE
            AND `version`.`device` = #{device}
        ORDER BY
            `version`.`create_time` DESC
        LIMIT 1
    </select>

    <select id="add" parameterType="Version">
        INSERT INTO `t_version`(
            `device`,
            `content`,
            `number`
        )VALUES(
            #{device},
            #{content},
            #{number}
        )
    </select>

</mapper>